.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #EEE;
}

.magicbox {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	border: 1px solid #CCC;
	border-radius: 3px;
	background-color: #FFF;
}

.magicbox__label {
	font-size: 36px;
	padding: 10px;
}

.input {
	font-family: 'VT323', monospace;
	font-size: 24px;
	padding: 10px;
	border: none;
	text-align: center;
}