@import url('https://fonts.googleapis.com/css?family=VT323');

* {
	font-family: 'VT323', monospace;
	-webkit-font-smoothing: antialiased;
}

*:focus {
	outline: none;
	box-shadow: 0 0 1px 0 #f38;
}

body {
	margin: 0;
}

h1 {
	position: absolute;
  top: 5%;
	left: 50%;
	transform: translateX(-50%);
	width: 220px;
	padding: 10px;
	font-size: 32px;
  text-align: center;
	border-bottom: 1px solid #f38;
}

/*Hide arrows on input type="number"*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}