@import url('https://fonts.googleapis.com/css?family=VT323');

body {
	margin: 0;
	font-family: 'VT323', monospace;
}

h1 {
	position: absolute;
  top: 5%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 48px;
}

.input:focus {
	outline: none;
}